<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Layout</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="wrapper">
        <div class="header">
            <div class="header-box"></div>
            <div class="header-content">
                <h1>Hi There, I am SupremeCoder177</h1>
                <p>Also know as Vansh Vardhan Verma or V.</p>
            </div>
        </div>
        <div class="main">
            <div class="pfp">
                <div class="mask">
                    <img src="Images/reminds me of suzeme.jpeg" alt="My profile picture, an anime boy reading in the woods.">
                </div>
            </div>
            <div class="bio">
                <p>
                   <br>
                   I am a self-taught programmer. Everything I know about computers I have come to know through Youtube
                   channels, books and self-experimentation. <br>
                    <br>
                   I do not claim to be the best, but I will always give my best at anything I do. <br>
                   My love for creating things led me to the field of software, and the exhilarating feeling of making something
                   from just lines of code has never left me since. <br>
                    <br>
                   Whether it be, Web-Dev, Game-Dev, Machine Learning, Full-Stack App Development, or anything else
                   I will always give it a go, and hence I have come to know each field.</p>
            </div>
            <div class="skills">

            </div>
        </div>
    </div>
</body>
</html>