<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Demo for a Line Loop Animated Border Card</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="container">
        <h1>Hello World</h1>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Modi ipsam impedit doloremque at illum tempore iure cumque laudantium officia accusantium dolore, blanditiis ea placeat tempora nemo quos suscipit quisquam? Sunt maiores culpa dignissimos asperiores aperiam rem repellat ad unde voluptas nisi voluptatibus suscipit, obcaecati quaerat? Pariatur distinctio ipsa iste obcaecati.</p>
    </div>
</body>
</html>