<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Double Line Borders</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="container">
        <h2>Hello, World</h2>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Similique iste perspiciatis illum ipsam quibusdam repellat quis placeat doloribus natus, est optio culpa repudiandae blanditiis. Magnam deleniti omnis itaque, laboriosam error esse dolorum natus eum, at dolor aliquam laudantium, harum adipisci velit modi tempore. Reiciendis cupiditate id totam harum optio atque?</p>
    </div>
</body>
</html>