* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(221, 221, 221);
    font-family: Helvetica;
    font-size: 0.9rem;
}

nav {
    position: fixed;
    top: 100px;
    width: max-content;
    height: 60px;
    display: flex;
    justify-self: center;
    background-color: white;
    box-shadow: 0 0 10px black;
    border-radius: 10px;
    justify-content: space-evenly;
    align-items: center;
    gap: 2rem;
    padding: 0 2rem;
}

.container > h1 {
    font-family: inherit;
    font-weight: 200;
    font-size: 1.4rem;
}

.buttons {
    display: flex;
    width: max-content;
    justify-content: space-evenly;
    align-items: center;
    gap: 3rem;
}

.sub-menu {
    overflow: hidden;
    max-width: 0;
}

.buttons > button {
    background-color: white;
    border: none;
    font-family: inherit;
    font-size: inherit;
    font-weight: 300;
    padding: 10px;
    border-radius: 10px;
}

.buttons > a {
    color: black;
    font-family: inherit;
    text-decoration: none;
    font-size: 0.8rem;
    font-weight: 300;
    padding: 10px;
    border-radius: 10px;
}

.hover {
    position: absolute;
    background-color: gray;
    border-radius: 10px;
    z-index: -1;
    transition: all ease-out 0.1s;
}