* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow: hidden;
}

.bg {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: #110e13;
}

.container {
    display: flex;
    width: 100vw;
    height: 90vh;
    position: absolute;
    top: 10vh;
    justify-content: center;
    overflow-y: scroll;
    overflow-x: hidden;
}

.chat {
    position: fixed;
    top: 0;
    display: flex;
    justify-self: center;
    gap: 1rem;
    margin-top: 2rem;
    z-index: 10;
}

.chat > input {
    width: 100ch;
    height: 40px;
    border-radius: 25px;
    border: none;
    font-family: sans-serif;
    font-size: 1rem;
    padding: 10px;
}

.chat > button {
    width: 70px;
    height: 30px;
    font-family: sans-serif;
    font-weight: bolder;
    border: none;
    border-radius: 15px;;
    background-color: rgb(190, 66, 66);
    color: white;
    transition: all linear 100ms;
    align-self: center;
}

.chat > button:hover{
    transform: scale(1.1);
}

.chat > button:active{
    transform: scale(0.95);
}

#myCanvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
}

.messages {
    display: flex;
    top: 100px;
    flex-direction: column;
    width: 50%;
    height: max-content;
    justify-self: center;
    margin-top: 40px;
    gap: 1.4rem;
    z-index: 10;
}

.message {
    width: 100%;
    height: max-content;
    display: flex;
    background-color: rgba(200, 200, 200, 0.3);
    border: solid 1px white;
    border-radius: 20px;
    padding: 10px;
}

.card-img{
    max-width: 50px;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    margin-left: 2rem;
    position: relative;
    display: flex;
    justify-self: start;
}

.card-text {
    color: white;
    font-size: 1.4rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 10px;
    margin: 5px 2rem;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
}

