* {
    font-family: sans-serif, Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
}

body {
    background-color: hsl(0, 0%, 80%);
}

.container {
    text-align: center;
    width: 320px;
    height: 340px;
    border: solid 1px black;
    justify-self: center;
    margin-top: 20px;
    padding: 10px;
    border-radius: 10px;
    background-color: white;
    box-shadow: -5px 5px 20px black;
}

h1 {
    margin: 15px 10px;
}

label {
    font-size: 1.3rem;
    color: hsl(180, 100%, 27%);
}

input {
    text-align: center;
    display: block;
    justify-self: center;
    margin : 15px 10px
}

#submit {
    font-size: 1.5rem;
    border: none;
    background-color: hsl(240, 44%, 55%);
    padding: 10px;
    border-radius: 10px;
    color: white;
    cursor: pointer;
}

#submit:hover{
    background-color: hsl(240, 44%, 45%);
}

p {
    font-size: 1.4rem;
    margin: 25px 10px;
    text-align: center;
}