@import url('https://fonts.cdnfonts.com/css/oprah-suede');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.bg {
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    background: linear-gradient(to bottom, rgb(45, 87, 165), rgb(171, 114, 194));
    transition: all linear 100ms;
}

.container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    flex: 0 / 0 / 0;
}

.card {
    max-width: max-content;
    border: solid 1px black;
    box-shadow: 0px 5px black;
    margin: 1rem;
    max-height: max-content;
    padding: 10px;
    border-radius: 20px;
    background-color: rgb(210, 218, 224);
}

.card-img {
    display: flex;
    justify-self: center;
    max-width: 200px;
    aspect-ratio: 1/ 1.4;
    object-fit: cover;
    border-radius: 1rem;
    transition: transform ease-in-out 100ms;
}

.card-btn-container {
    display: flex;
    justify-content: center;
    flex-direction: row;
    column-gap: 1rem;
    margin-top: 1rem;
}

.card-btn {
    font-family: "Oprah Suede",sans-serif;
    font-size: 1.5rem;
    width: 100px;
    border-radius: 10px;
    transition: transform linear 100ms;
    border: none;
}

.primary {
    background-color: hsl(0, 77%, 60%);
}

.secondary {
    background-color: hsl(240, 42%, 50%);
}

.card-btn:hover{
    transform: scale(1.1);
}

.card-btn:active{
    transform: scale(0.9);
}

.card-img:hover{
    transform: scale(1.1);
}
