* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body { background-color: #131341; }

.container1 {
    width: 100px;
    height: 100px;
    position: absolute;
    top: 100px;
    left: 50%;
    translate: -50% 0;
    background-color: white;
    border: solid 1px black;
    border-radius: 10px;
    animation: shape_changer-1 linear 2s infinite alternate;
}


.container2 {
    width: 100px;
    height: 100px;
    position: absolute;
    background-color: white;
    border: solid 1px black;
    border-radius: 10px;
    top: 50vh;
    left: 50vw;
    animation: roller 2s linear infinite alternate;
}

.card-container {
    width: 300px;
    height: 300px;
}

.container3 {
    width: 200px;
    height: 200px;
    background-color: white;
    position: absolute;
    border: solid 1px black;
    border-radius: 20px;
    left: 100px;
    top: 100px;
}


.card-flipper {
    animation: come_in 500ms linear forwards;
}

.card-return {
    animation: come_out 500ms linear forwards;
}


@keyframes shape_changer-1 {
    0% {
        transform: scale(1);
        border-radius: 10px;
    }

    50% {
        transform: translateX(50%);
    }

    60% {
        transform: translateY(50%);
    }

    70% {
        transform: translateX(-50%);
    }

    100% {
        border-radius: 50%;
    }
}

@keyframes roller {
    0% {
        transform: translateX(0px);
        border-radius: 0%;
    }

    100% {
        transform: translateX(500px) rotate(360deg);
        border-radius: 50%;
    }
}

@keyframes come_in {
    0% {
        transform: scale(1);
    }

    40%{
        transform: scale(1.4) rotateY(10deg) rotateX(90deg);
    }

    100% {
        transform: scale(2) rotateX(180deg);
    }
}

@keyframes come_out {
    0% {
        transform: scale(2);
    }
    
    100% {
        transform: scale(1);
    }
    
}

#card-img1{
    max-width: 150px;
    object-fit: contain;
}

.container4 {
    width: 100px;
    height: 200px;
    background-color: white;
    border-radius: 10px;
    position: absolute;
    left: 50%;
    top: 250px;
    transition: transform linear 100ms;
}

.container4 > img {
    object-fit: contain;
    max-width: 100%;
    min-height: 100%;
    border-radius: inherit;
    filter: blur(0.5rem);
    transition: all linear 0.1s;
}

.container4:hover {
    transform: scale(1.05) rotate(-5deg);
    
}

.container4 > img:hover{
    filter: blur(0rem);
}

.container5 {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: 300px;
    left: 10px;
    background-color: white;
}

